<div class="row pozycjafv">
    <div class="col-xs-12 col-md-6">{{ form_row(tag.nazwa,{ 'attr': {'rel':id} }) }}</div>
    <div class="col-xs-12 col-md-1">{{ form_row(tag.ilosc,{ 'attr': {'rel-ilosc':id,'rel':id } }) }}</div>
    <div class="col-xs-12 col-md-2">{{ form_row(tag.cena,{ 'attr': {'rel-cena':id,'rel':id ,"step":"0.01"} }) }}</div>
    <div class="col-xs-12 col-md-1">{{ form_row(tag.vat,{ 'attr': {'rel-vat':id,'rel':id ,"step":"0.01"} }) }}</div>
    <div class="col-xs-12 col-md-1">{{ form_row(tag.razem,{ 'attr': {'rel-razem':id,'rel':id ,"step":"0.01"} }) }}</div>
</div>