<div class="row">
    <div class="col-xs-12 col-md-6">{{ form_row(tag.nazwa) }}</div>
    <div class="col-xs-12 col-md-1">{{ form_row(tag.ilosc) }}</div>
    <div class="col-xs-12 col-md-2">{{ form_row(tag.cena) }}</div>
    <div class="col-xs-12 col-md-1">{{ form_row(tag.vat) }}</div>
    <div class="col-xs-12 col-md-1">{{ form_row(tag.razem) }}</div>
</div>